:host {
  display: block;
  --btn-primary-color: #BB5811;
}

.btn-comp{
  height: 44px;
  width: 300px;

  /* Label/Large 16px */

  font-family: Archivo,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* or 100% */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;


  background-color: var(--btn-primary-color);
}

.btn-comp span{
  color: #FFFFFF;
}